body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    height: 100vh;
    background-color: #800080;
    background: -webkit-gradient(linear, left top, left bottom, from(#800080), to(#DDA0DD));
    background: -webkit-linear-gradient(#800080, #DDA0DD);
    background: -o-linear-gradient(#800080, #DDA0DD);
    background: linear-gradient(#800080, #DDA0DD);
    color: #E6E6FA;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 300;
    color: yellow;
}

p:first-of-type {
    line-height: 1.75;
}

textarea {
    background-color: rgb(255, 255, 134);
    outline-color: #4B0082;
    width: 275px;
    padding: 5px;
    font-size: 18px;
}

a {
    background-color: #4B0082;
    color: yellow;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0 6px #24003e;
            box-shadow: 0 6px #24003e;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

a:hover {
    -webkit-box-shadow: 0 4px #24003e;
            box-shadow: 0 4px #24003e;
    top: 2px;
}

a:active {
    -webkit-box-shadow: 0 0 #24003e;
            box-shadow: 0 0 #24003e;
    top: 6px;
}

.container {
    margin: auto;
    max-width: 400px;
}